


<div class="container">
<div class="row">
<div class="col-md-6">
<!-- 左枠 -->
<table class="table table-condensed table-bordered">
  <tr>
    <td bgcolor="#0000CD" align="left"><font color="#FFFFFF">&ensp;看護計画</font></td>
  </tr>
  <tr>
    <td bgcolor="#B0C4DE" width="500" height="50">
<button type="button" class="btn btn-default btn-sm active" disabled="disabled">ガイダンス</button>
<button type="button" class="btn btn-default btn-sm active">評価記録</button>
    </td>
  </tr>
</table>


<table class="table table-condensed table-bordered">
  <tr>
    <td bgcolor="#dedede">問題番号</td>
    <td>001</td>
    <td bgcolor="#dedede">登録日</td>
    <td>2018/01/15</td>
    <td bgcolor="#dedede">登録者</td>
    <td>中西永子</td>
  </tr>
  <tr>
    <td bgcolor="#dedede"></td>
    <td bgcolor="#dedede"></td>
    <td bgcolor="#dedede">評価日</td>
    <td>2018/01/15</td>
    <td bgcolor="#dedede">評価</td>
    <td>続行</td>
  </tr>
</table>

<table class="table table-condensed table-bordered">
  <tr>
    <td bgcolor="#dedede" width="70">看護問題</td>
    <td width="400"></td>
  </tr>
  <tr>
    <td bgcolor="#dedede" width="70">Nursing<br>problem</td>
    <td width="400"></td>
  </tr>
  <tr>
    <td bgcolor="#dedede" width="70">定義</td>
    <td width="400"></td>
  </tr>
</table>

<table class="table table-condensed table-bordered">
  <tr>
    <td bgcolor="#6A5ACD" align="center" width="50"><font color="#FFFFFF">決定根拠</font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" width="150" height="50"></td>
  </tr>
</table>

<!-- 外枠 -->
<div class="y_data_area">
    <!-- タイトル -->
    <table class="y_data_title">
        <col style="width: 20%;" />
        <col style="width: 20%;" />

        <tr>
            <th>診断指標</th>
            <th class="r_none">コメント</th>
        </tr>
    </table>
    <!-- /タイトル -->
    <!-- データ -->
    <div class="y_scroll_box">
        <div class="y_hidden">
            <table class="y_data">
                <col style="width: 50%;" />
                <col style="width: 50%;" />                    
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /データ -->
</div>
<!-- /外枠 -->  
<br>
<!-- 外枠 -->
<div class="y_data_area">
    <!-- タイトル -->
    <table class="y_data_title">
        <col style="width: 20%;" />
        <col style="width: 20%;" />

        <tr>
            <th>関連因子</th>
            <th class="r_none">コメント</th>
        </tr>
    </table>
    <!-- /タイトル -->
    <!-- データ -->
    <div class="y_scroll_box">
        <div class="y_hidden">
            <table class="y_data">
                <col style="width: 50%;" />
                <col style="width: 50%;" />                    
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /データ -->
</div>
<!-- /外枠 -->


</div><!-- /col-md-6 -->





<div class="col-md-6">
<!-- 右枠 -->
<table class="table table-condensed table-bordered">
  <tr>
    <td bgcolor="#0000CD" align="left"><font color="#FFFFFF">&ensp;看護計画</font></td>
  </tr>
  <tr>
    <td bgcolor="#B0C4DE" width="500" height="50" align="right" nowrap>
<button type="button" class="btn btn-default btn-sm active" disabled="disabled">確定</button>
<a href="javascript:history.back()" class="btn btn-default btn-sm active">戻る</a>
    </td>
  </tr>
</table>


<!-- 外枠 -->
<div class="y_data_area">
    <!-- タイトル -->
    <table class="y_data_title">
        <col style="width: 70%;" />
        <col style="width: 20%;" />
        <col style="width: 10%;" />

        <tr>
            <th>患者目標</th>
            <th>評価日</th>
            <th class="r_none">評価</th>
        </tr>
    </table>
    <!-- /タイトル -->
    <!-- データ -->
    <div class="y_scroll_box">
        <div class="y_hidden">
            <table class="y_data">
                <col style="width: 70%;" />
                <col style="width: 20%;" />                    
                <col style="width: 10%;" />                    
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
                <tr>
                    <td><p title="データ">データ</p></td>
                    <td><p title="データ">データ</p></td>
                    <td class="r_none"><p title="データ">データ</p></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /データ -->
</div>
<!-- /外枠 -->  
<br>

<div class="alert alert-success" role="alert">
  表示切替
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 全て表示
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> ＯＰのみ
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> ＴＰのみ
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> ＥＰのみ
</label>
</div>




<!-- 外枠 -->
<div class="y_data_area2">
    <!-- タイトル -->
    <table class="y_data_title2">
        <col style="width: 5%;" />
        <col style="width: 5%;" />
        <col style="width: 65%;" />
        <col style="width: 5%;" />
        <col style="width: 20%;" />
        <tr>
            <th></th>
            <th></th>
            <th>看護計画</th>
            <th></th>
            <th class="r_none">評価日</th>
        </tr>
    </table>
    <!-- /タイトル -->
    <!-- データ -->
    <div class="y_scroll_box2">
        <div class="y_hidden2">
            <table class="y_data2">
                <col style="width: 5%;" />
                <col style="width: 5%;" />
                <col style="width: 65%;" />
                <col style="width: 5%;" />
                <col style="width: 20%;" />                    
                <tr>
                    <td><p title="OP">OP</p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p>痛みの原因の評価身体所見、画像所見、血液検査所見（貧血の有無）</td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title="">2018/01/15</p></td>
                </tr>
                <tr>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title=""></p></td>
                </tr>
                <tr>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title=""></p></td>
                </tr>
                <tr>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title=""></p></td>
                </tr>
                <tr>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title=""></p></td>
                </tr>
                <tr>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title=""></p></td>
                </tr>
                <tr>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title=""></p></td>
                </tr>
                <tr>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title=""></p></td>
                </tr>
                <tr>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td><p title=""></p></td>
                    <td class="r_none"><p title=""></p></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /データ -->
</div>
<!-- /外枠 -->
</div>





</div>
</div>



















