<h1>看護計画一覧</h1>

<ul>
  <% @plans.each do |plan| %>
    <li><%= link_to plan.id, plan %><%= link_to '編集する', edit_plan_path(plan) %> :<%= plan.id %></li>
    <li><%= link_to 'Show Books', plan_books_path(plan) %></li>
  <% end %>
</ul>

    <a href="/" class="btn btn-default">bedmap</a>
